
.background {
  background-image: url('img/background-black.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 100% auto;
}
}
@media only screen and (max-width: 1366px) {
  .resolution-background {
    background-image: url('img/background-black.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 100% auto;
}
}



@media only screen and (min-width: 1366px) {
  .resolution-menu {
		margin-top: 322px;
		margin-left: 1192px;
		width:125px;
		height: 125px;
		position: absolute;
}
}



/* LOGO */
@media only screen and (min-width:320px){
  .resolution-logo {
    width: 100%;
    height: auto;
    margin-top: -40px;
    padding-left: 50px;
    padding-right: 50px;
}
}

@media only screen and (min-width:480px){
  .resolution-logo {
    width: 100%;
    height: auto;
    margin-top: -45px;
    padding-left: 50px;
    padding-right: 50px;
}
}

@media only screen and (min-width:600px){
  .resolution-logo {
    width: 100%;
    height: auto;
    margin-top: -50px;
    padding-left: 50px;
    padding-right: 50px;
}
}

@media only screen and (min-width:768px){
  .resolution-logo {
    width: 100%;
    height: auto;
    margin-top: -65px;
    padding-left: 60px;
    padding-right: 60px;
}
}

@media only screen and (min-width:992px){
  .resolution-logo {
    width: 100%;
    height: auto;
    margin-top: -40px;
    padding-left: 280px;
    padding-right: 280px;
}
}

@media only screen and (min-width:1200px) {
  .resolution-logo {
    width: 100%;
    height: auto;
    margin-top: -50px;
    padding-left: 50px;
    padding-right: 50px;
}
}

@media only screen and (min-width:1366px) {
  .resolution-logo {
      width: 100%;
      height: auto;
      padding-top: -150px;
      padding-left: 290px;
      padding-right: 290px;
}
}





/* boton a */
@media only screen and (min-width: 320px) {
  .resolution-buttona {float: left;
		width: 25%;
		height: auto;
    margin-top: -22px;
  }
}

@media only screen and (min-width: 480px) {
  .resolution-buttona {float: left;
		width: 25%;
		height: auto;
    margin-top: -45px
  }
}

@media only screen and (min-width: 600px) {
  .resolution-buttona {float: left;
		width: 25%;
		height: auto;
    margin-top: -45px
  }
}

@media only screen and (min-width: 768px) {
  .resolution-buttona {float: left;
		width: 25%;
		height: auto;
    margin-top: -55px
  }
}

@media only screen and (min-width: 992px) {
  .resolution-buttona {float: left;
    width: 22%;
		height: auto;
    margin-top: -30px;
  }
}

@media only screen and (min-width: 1366px) {
  .resolution-buttona {float: left;
		width: 22%;
		height: auto;
    margin-top: -55px;
    margin-left: 30px;
  }
}




/* boton b */
@media only screen and (min-width: 320px) {
  .resolution-buttonb {float: left;
		width: 25%;
		height: auto;
    margin-top: -22px;
  }
}

@media only screen and (min-width: 600px) {
  .resolution-buttonb {float: left;
		width: 25%;
		height: auto;
    margin-top: -45px
  }
}

@media only screen and (min-width: 992px) {
  .resolution-buttonb {float: left;
    width: 22%;
		height: auto;
    margin-top: -30px;
  }
}

@media only screen and (min-width: 1366px) {
  .resolution-buttonb {float: left;
    width: 22%;
		height: auto;
    margin-top: -55px;
  }
}




/* boton c */
@media only screen and (min-width: 320px) {
  .resolution-buttonc {float: left;
		width: 25%;
		height: auto;
    margin-top: -22px;
  }
}

@media only screen and (min-width: 600px) {
  .resolution-buttonc {float: left;
		width: 25%;
		height: auto;
    margin-top: -45px
  }
}

@media only screen and (min-width: 992px) {
  .resolution-buttonc {float: left;
    width: 22%;
		height: auto;
    margin-top: -30px;
  }
}

@media only screen and (min-width: 1366px) {
  .resolution-buttonc {float: left;
    width: 22%;
		height: auto;
    margin-top: -55px;
  }
}




/* boton d */
@media only screen and (min-width: 320px) {
  .resolution-buttond {float: left;
		width: 25%;
		height: auto;
    margin-top: -22px;
  }
}

@media only screen and (min-width: 600px) {
  .resolution-buttond {float: left;
		width: 25%;
		height: auto;
    margin-top: -45px
  }
}

@media only screen and (min-width: 992px) {
  .resolution-buttond {float: left;
    width: 22%;
		height: auto;
    margin-top: -30px;
  }
}

@media only screen and (min-width: 1366px) {
  .resolution-buttond {float: left;
    width: 22%;
		height: auto;
    margin-top: -55px;
  }
}




/* boton e */
@media only screen and (min-width: 320px) {
  .resolution-buttone {
		width:100%;
		height: auto;
    padding-left: 45px;
    padding-right: 45px;
  }
}

@media only screen and (min-width: 600px) {
  .resolution-buttone {
		width:100%;
		height: auto;
    padding-left: 45px;
    padding-right: 45px;
  }
}

@media only screen and (min-width: 992px) {
  .resolution-buttone {float: left;
		width: 85%;
		height: auto;
    margin-top: 10px;
    margin-left: 4px;
  }
}

@media only screen and (min-width: 1366px) {
  .resolution-buttone {float: left;
		width: 90%;
		height: auto;
    margin-top: 10px;
    margin-left: -55px;
  }
}






/* boton f */
@media only screen and (min-width: 320px) {
  .resolution-buttonf {
    width:100%;
    height: auto;
    padding-left: 45px;
    padding-right: 45px;
    margin-top: 22px;
  }
}

@media only screen and (min-width: 600px) {
  .resolution-buttonf {
    width:100%;
    height: auto;
    padding-left: 45px;
    padding-right: 45px;
    margin-top: 35px;
  }
}

@media only screen and (min-width: 992px) {
  .resolution-buttonf {
		width: 85%;
		height: auto;
    margin-top: 75px;
    margin-left: 4px;
  }
}

@media only screen and (min-width: 1366px) {
  .resolution-buttonf {
		width: 90%;
		height: auto;
    margin-top: 90px;
    margin-left: -55px;
  }
}





@media only screen and (max-width: 1366px) {
  .resolution-buttong {
		margin-top: 443px;
		margin-left: -1262px;
		width: 170px;
		height: 170px;
  }
}




/* SEPARADOR */
@media only screen and (min-width: 992px) {
.separador1{
  float: right;
  width: 45%;
}
}

@media only screen and (min-width: 992px) {
.separador2{
  float: right;
  width: 55%;
}
}




/* TITULOS */
.resolution-div-tittle {
  margin-top: -130px;
  width: 100%;
  height: inherit;
  position: absolute;
}
}

@media only screen and (max-width: 1900px) {
  .resolution-div-tittle {
    margin-top: -130px;
		width: 100%;
		height: inherit;
    position: absolute;
  }
}

@media only screen and (max-width: 1440px) {
  .resolution-div-tittle {
    margin-top: -110px;
		width: 100%;
		height: inherit;
    position: absolute;
  }
}

@media only screen and (max-width: 1366px) {
  .resolution-div-tittle {
    margin-top: -100px;
		width: 100%;
		height: inherit;
    position: absolute;
  }
}

@media only screen and (max-width: 1199px) {
  .resolution-div-tittle {
    margin-top: -80px;
		width: 100%;
		height: inherit;
    position: absolute;
  }
}

@media only screen and (max-width: 991px) {
  .resolution-div-tittle {
    margin-top: -80px;
		width: 100%;
		height: inherit;
    position: absolute;
  }
}

@media only screen and (max-width: 767px) {
  .resolution-div-tittle {
    margin-top: -80px;
		width: 100%;
		height: inherit;
    position: absolute;
  }
}

@media only screen and (max-width: 539px) {
  .resolution-div-tittle {
    margin-top: -70px;
		width: 100%;
		height: inherit;
    position: absolute;
  }
}




@media (min-width:992px){
  .col-mds-3{float:left;
    width:33.33333333%;
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 80px;
  }
}

@media (max-width:991px){
  .col-mds-3{float: center;
    align: center;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 30px;
}
}



@media (min-width:992px){
  .col-mds-4{float:left;
    width:33.33333333%;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
  }
}

@media (max-width:991px){
  .col-mds-4{
    align: center;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 20px;
}
}



@media (min-width:992px){
  .col-mds-5{float:left;
    width:33.33333333%;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
  }
}

@media (max-width:991px){
  .col-mds-5{float:left;
    width:33.33333333%;
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 0px;
}
}



@media (min-width:992px){
  .col-mds-6{float:left;
    width: 70%;
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 30px;
  }
}

@media (max-width:991px){
  .col-mds-6{
    align: center;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 30px;
}
}


/* QUIENES SOMOS */
@media (min-width:992px){
  .col-mds-qs{float:left;
    width: 70%;
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 30px;
  }
}

@media (max-width:991px){
  .col-mds-qs{
    align: center;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 30px;
}
}

@media (min-width:992px){
  .col-mds-7{float:left;
    width: 30%;
    padding-right: 18px;
    padding-left: 20px;
    padding-top: 20px;
    font-size: 21px;
    text-align: justify;
  }
}

@media (min-width:992px){
  .col-mds-7{float:left;
    width: 30%;
    padding-right: 18px;
    padding-left: 20px;
    padding-top: 20px;
    font-size: 21px;
    text-align: justify;
  }
}

@media (max-width:991px){
  .col-mds-7{
    align: center;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 30px;
}
}



@media (min-width:992px){
  .col-mds-8{float:left;
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 10px;
    font-size: 22px;
    font-family: "FF Market";
    text-align: center;
    color: #fff;
  }
}

@media (max-width:991px){
  .col-mds-8{
    align: center;
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 0px;
    font-size: 22px;
    text-align: center;
    color: #F47C29;
}
}




@media (min-width:992px){
  .col-mds-9{float:left;
    width: 30%;
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 10px;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    color: #F47C29;
  }
}

@media (max-width:991px){
  .col-mds-9{
    align: center;
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 0px;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    color: #F47C29;
}
}



@media (min-width:992px){
  .txt-srv-1{
    width: 100%;
    font-size: 34px;
    font-family: "BebasNeueBook";
    text-align: center;
    color: #E1E1E1;
    margin-bottom: -1px;
  }
}

@media (max-width:991px){
  .txt-srv-1{
    width: 100%;
    font-size: 32px;
    font-family: "BebasNeueBook";
    text-align: center;
    color: #E1E1E1;
    margin-bottom: -1px;
  }
}

@media (max-width:600px){
  .txt-srv-1{
    width: 100%;
    font-size: 28px;
    font-family: "BebasNeueBook";
    text-align: center;
    color: #E1E1E1;
    margin-bottom: -1px;
  }
}



@media (min-width:992px){
  .txt-srv-2{
    width: 100%;
    font-size: 32px;
    font-family: "MarketWeb W03 Regular";
    text-align: center;
    color: #F1F1F1;
    margin-bottom: -1px;
  }
}

@media (max-width:991px){
  .txt-srv-2{
    width: 100%;
    font-size: 29px;
    font-family: "MarketWeb W03 Regular";
    text-align: center;
    color: #F1F1F1;
    margin-bottom: -1px;
  }
}

@media (max-width:600px){
  .txt-srv-2{
    width: 100%;
    font-size: 26px;
    font-family: "MarketWeb W03 Regular";
    text-align: center;
    color: #F1F1F1;
    margin-bottom: -1px;
  }
}



/* PLAY */
@media (min-width:992px){
  .col-mds-ply{
    max-width: 80%;
    height: auto;
  }
}

@media (max-width:991px){
  .col-mds-ply{
    max-width: 80%;
    height: auto;
}
}

@media (min-width:992px){
  .col-mds-ply-txt{
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #2D1C1C;
  }
}

@media (max-width:991px){
  .col-mds-ply-txt{
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 0px;
    font-size: 16px;
    font-weight: bold;
    color: #2D1C1C;
}
}



/* CONTACTOS */
@media (min-width:992px){
  .col-mds-cnt{
    max-width: 20%;
    height: auto;
  }
}

@media (max-width:991px){
  .col-mds-cnt{
    max-width: 20%;
    height: auto;
}
}

@media (min-width:992px){
  .col-mds-cnt-txt{
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #2D1C1C;
  }
}

@media (max-width:991px){
  .col-mds-cnt-txt{
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 0px;
    font-size: 15px;
    font-weight: bold;
    color: #2D1C1C;
}
}

@media (min-width:992px){
  .col-mds-cnt-ovf{
    overflow: hidden;
  }
}

@media (max-width:991px){
  .col-mds-cnt-ovf{
    overflow: hidden;
}
}




  .img-responsive1{
    display: block;
    max-width: 100%;
    height: auto;
}

.video-responsive1{
  display: block;
  max-width: 100%;
  height: auto;
}

.centered {
  position: flex; /* or absolute */
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50%);
}


.preloader-chess{
  max-width: 150px;
  max-height: 150px
}
