@media only screen and (min-width: 1366px) {
  .resolution-menu {
		margin-top: 322px;
		margin-left: 1192px;
		width:125px;
		height: 125px;
		position: absolute;
}
}



/* LOGO */
@media only screen and (min-width:240px){
  .resolution-logo {
    width: 100%;
    height: auto;
    margin-top: -40px;
    padding-left: 18px;
    padding-right: 18px;
}
}

@media only screen and (min-width:320px){
  .resolution-logo {
    width: 100%;
    height: auto;
    margin-top: -40px;
    padding-left: 25px;
    padding-right: 25px;
}
}

@media only screen and (min-width:480px){
  .resolution-logo {
    width: 100%;
    height: auto;
    margin-top: -45px;
    padding-left: 50px;
    padding-right: 50px;
}
}

@media only screen and (min-width:600px){
  .resolution-logo {
    width: 100%;
    height: auto;
    margin-top: -50px;
    padding-left: 50px;
    padding-right: 50px;
}
}

@media only screen and (min-width:768px){
  .resolution-logo {
    width: 100%;
    height: auto;
    margin-top: -65px;
    padding-left: 60px;
    padding-right: 60px;
}
}

@media only screen and (min-width:992px){
  .resolution-logo {
    width: 100%;
    height: auto;
    margin-top: -40px;
    padding-left: 280px;
    padding-right: 280px;
}
}

@media only screen and (min-width:1200px) {
  .resolution-logo {
    width: 100%;
    height: auto;
    margin-top: 0px;
    padding-left: 270px;
    padding-right: 270px;
}
}

@media only screen and (min-width:1230px) {
  .resolution-logo {
    width: 100%;
    height: auto;
    margin-top: -20px;
    padding-left: 270px;
    padding-right: 270px;
}
}

@media only screen and (min-width:1280px) {
  .resolution-logo {
    width: 100%;
    height: auto;
    margin-top: -50px;
    padding-left: 270px;
    padding-right: 270px;
}
}

@media only screen and (min-width:1320px) {
  .resolution-logo {
    width: 100%;
    height: auto;
    margin-top: -80px;
    padding-left: 270px;
    padding-right: 270px;
}
}

@media only screen and (min-width:1366px) {
  .resolution-logo {
      width: 100%;
      height: auto;
      padding-left: 290px;
      padding-right: 290px;
}
}

@media only screen and (min-width:1420px) {
  .resolution-logo {
      width: 100%;
      height: auto;
      margin-top: -100px;
      padding-left: 290px;
      padding-right: 290px;
}
}

@media only screen and (min-width:1600px) {
  .resolution-logo {
      width: 100%;
      height: auto;
      padding-left: 365px;
      padding-right: 365px;
}
}

@media only screen and (min-width:1920px) {
  .resolution-logo {
      width: 100%;
      height: auto;
      padding-left: 450px;
      padding-right: 450px;
      margin-top: -50px;
}
}





/* boton a */
@media only screen and (min-width: 240px) {
  .resolution-buttona {float: left;
		width: 25%;
		height: auto;
    margin-top: -22px;
  }
}

@media only screen and (min-width: 320px) {
  .resolution-buttona {float: left;
		width: 25%;
		height: auto;
    margin-top: -22px;
  }
}

@media only screen and (min-width: 600px) {
  .resolution-buttona {float: left;
		width: 25%;
		height: auto;
    margin-top: -45px
  }
}

@media only screen and (min-width: 768px) {
  .resolution-buttona {float: left;
		width: 25%;
		height: auto;
    margin-top: -55px
  }
}

@media only screen and (min-width: 992px) {
  .resolution-buttona {float: left;
    width: 22%;
		height: auto;
    margin-top: -30px;
  }
}

@media only screen and (min-width: 1366px) {
  .resolution-buttona {float: left;
		width: 22%;
		height: auto;
    margin-top: -55px;
    margin-left: 30px;
  }
}




/* boton b */
@media only screen and (min-width: 240px) {
  .resolution-buttonb {float: left;
		width: 25%;
		height: auto;
    margin-top: -22px;
  }
}

@media only screen and (min-width: 320px) {
  .resolution-buttonb {float: left;
		width: 25%;
		height: auto;
    margin-top: -22px;
  }
}

@media only screen and (min-width: 600px) {
  .resolution-buttonb {float: left;
		width: 25%;
		height: auto;
    margin-top: -45px
  }
}

@media only screen and (min-width: 992px) {
  .resolution-buttonb {float: left;
    width: 22%;
		height: auto;
    margin-top: -30px;
  }
}

@media only screen and (min-width: 1366px) {
  .resolution-buttonb {float: left;
    width: 22%;
		height: auto;
    margin-top: -55px;
  }
}




/* boton c */
@media only screen and (min-width: 240px) {
  .resolution-buttonc {float: left;
		width: 25%;
		height: auto;
    margin-top: -22px;
  }
}

@media only screen and (min-width: 320px) {
  .resolution-buttonc {float: left;
		width: 25%;
		height: auto;
    margin-top: -22px;
  }
}

@media only screen and (min-width: 600px) {
  .resolution-buttonc {float: left;
		width: 25%;
		height: auto;
    margin-top: -45px
  }
}

@media only screen and (min-width: 992px) {
  .resolution-buttonc {float: left;
    width: 22%;
		height: auto;
    margin-top: -30px;
  }
}

@media only screen and (min-width: 1366px) {
  .resolution-buttonc {float: left;
    width: 22%;
		height: auto;
    margin-top: -55px;
  }
}




/* boton d */
@media only screen and (min-width: 240px) {
  .resolution-buttond {float: left;
		width: 25%;
		height: auto;
    margin-top: -22px;
  }
}

@media only screen and (min-width: 320px) {
  .resolution-buttond {float: left;
		width: 25%;
		height: auto;
    margin-top: -22px;
  }
}

@media only screen and (min-width: 600px) {
  .resolution-buttond {float: left;
		width: 25%;
		height: auto;
    margin-top: -45px
  }
}

@media only screen and (min-width: 992px) {
  .resolution-buttond {float: left;
    width: 22%;
		height: auto;
    margin-top: -30px;
  }
}

@media only screen and (min-width: 1366px) {
  .resolution-buttond {float: left;
    width: 22%;
		height: auto;
    margin-top: -55px;
  }
}




/* boton e */
@media only screen and (min-width: 240px) {
  .resolution-buttone {
		width:100%;
		height: auto;
    margin-top: 80px;
    padding-left: 29px;
    padding-right: 29px;
  }
}

@media only screen and (min-width: 320px) {
  .resolution-buttone {
		width:100%;
		height: auto;
    padding-left: 45px;
    padding-right: 45px;
  }
}

@media only screen and (min-width: 600px) {
  .resolution-buttone {
		width:100%;
		height: auto;
    padding-left: 45px;
    padding-right: 45px;
  }
}

@media only screen and (min-width: 992px) {
  .resolution-buttone {float: left;
		width: 85%;
		height: auto;
    margin-top: 10px;
    margin-left: 4px;
  }
}

@media only screen and (min-width: 1200px) {
  .resolution-buttone {float: left;
		width: 85%;
		height: auto;
    margin-top: 10px;
    margin-left: -50px;
  }
}

@media only screen and (min-width: 1366px) {
  .resolution-buttone {float: left;
		width: 90%;
		height: auto;
    margin-top: 10px;
    margin-left: -55px;
  }
}

@media only screen and (min-width: 1920px) {
  .resolution-buttone {float: left;
		width: 85%;
		height: auto;
    margin-top: 50px;
    margin-left: -33px;
  }
}






/* boton f */
@media only screen and (min-width: 240px) {
  .resolution-buttonf {
    width:100%;
    height: auto;
    padding-left: 29px;
    padding-right: 29px;
    margin-top: 10px;
  }
}

@media only screen and (min-width: 320px) {
  .resolution-buttonf {
    width:100%;
    height: auto;
    padding-left: 45px;
    padding-right: 45px;
    margin-top: 22px;
  }
}

@media only screen and (min-width: 600px) {
  .resolution-buttonf {
    width:100%;
    height: auto;
    padding-left: 45px;
    padding-right: 45px;
    margin-top: 35px;
  }
}

@media only screen and (min-width: 992px) {
  .resolution-buttonf {
		width: 85%;
		height: auto;
    margin-top: 75px;
    margin-left: 4px;
  }
}

@media only screen and (min-width: 1200px) {
  .resolution-buttonf {float: left;
		width: 85%;
		height: auto;
    margin-top: 35px;
    margin-left: -50px;
  }
}

@media only screen and (min-width: 1366px) {
  .resolution-buttonf {
		width: 90%;
		height: auto;
    margin-top: 35px;
    margin-left: -55px;
  }
}

@media only screen and (min-width: 1920px) {
  .resolution-buttonf {float: left;
		width: 85%;
		height: auto;
    margin-top: 40px;
    margin-left: -33px;
  }
}






@media only screen and (max-width: 1366px) {
  .resolution-buttong {
		margin-top: 443px;
		margin-left: -1262px;
		width: 170px;
		height: 170px;
  }
}




/* SEPARADOR */
@media only screen and (min-width: 992px) {
.separador1{
  float: right;
  width: 45%;
}
}

@media only screen and (min-width: 992px) {
.separador2{
  float: right;
  width: 55%;
}
}




/* TITULOS */
@media only screen and (min-width: 240px) {
  .resolution-div-tittle {
    margin-top: -72px;
		width: 100%;
		height: inherit;
    position: absolute;
  }
}

@media only screen and (min-width: 576px) {
  .resolution-div-tittle {
    margin-top: -72px;
		width: 100%;
		height: inherit;
    position: absolute;
  }
}

@media only screen and (min-width: 768px) {
  .resolution-div-tittle {
    margin-top: -72px;
		width: 100%;
		height: inherit;
    position: absolute;
  }
}

@media only screen and (min-width: 992px) {
  .resolution-div-tittle {
    margin-top: -72px;
		width: 100%;
		height: inherit;
    position: absolute;
  }
}

@media only screen and (min-width: 1200px) {
  .resolution-div-tittle {
    margin-top: -128px;
		width: 100%;
		height: inherit;
    position: absolute;
  }
}


/* TITULOS 2 */
@media only screen and (min-width: 240px) {
  .resolution-div-tittles {
    margin-top: -72px;
		width: 100%;
		height: inherit;
    position: absolute;
    margin-left: -50px;
    margin-right: -50px;
  }
}

@media only screen and (min-width: 576px) {
  .resolution-div-tittles {
    margin-top: -72px;
		width: 100%;
		height: inherit;
    position: absolute;
  }
}

@media only screen and (min-width: 768px) {
  .resolution-div-tittles {
    margin-top: -72px;
		width: 100%;
		height: inherit;
    position: absolute;
  }
}

@media only screen and (min-width: 992px) {
  .resolution-div-tittles {
    margin-top: -72px;
		width: 100%;
		height: inherit;
    position: absolute;
  }
}

@media only screen and (min-width: 1200px) {
  .resolution-div-tittles {
    margin-top: -128px;
		width: 100%;
		height: inherit;
    position: absolute;
  }
}





@media (min-width:992px){
  .col-mds-3{float:left;
    width:33.33333333%;
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 80px;
  }
}

@media (max-width:991px){
  .col-mds-3{float: center;
    align: center;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 30px;
}
}



@media (min-width:992px){
  .col-mds-4{float:left;
    width:33.33333333%;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
  }
}

@media (max-width:991px){
  .col-mds-4{
    align: center;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 20px;
}
}



@media (min-width:992px){
  .col-mds-5{float:left;
    width:33.33333333%;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
  }
}

@media (max-width:991px){
  .col-mds-5{float:left;
    width:33.33333333%;
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 0px;
}
}

@media (min-width:992px){
  .col-mds-5s{
    width:33.33333333%;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
  }
}

@media (max-width:991px){
  .col-mds-5s{
    width:33.33333333%;
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 0px;
}
}

@media (min-width:992px){
  .col-mds-5d{float:left;
    width:50%;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
  }
}

@media (max-width:991px){
  .col-mds-5d{float:left;
    width:50%;
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 0px;
}
}



@media (min-width:992px){
  .col-mds-6{float:left;
    width: 70%;
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 30px;
  }
}

@media (max-width:991px){
  .col-mds-6s{
    width: 70%;
    align: center;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 30px;
}
}

@media (min-width:992px){
  .col-mds-6s{
    width: 70%;
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 30px;
  }
}

@media (max-width:991px){
  .col-mds-6{float:left;
    width: 70%;
    align: center;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 30px;
}
}




/* QUIENES SOMOS */
@media (min-width:992px){
  .col-mds-qs{float:left;
    width: 70%;
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 30px;
  }
}

@media (max-width:991px){
  .col-mds-qs{
    align: center;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 30px;
}
}

@media (min-width:992px){
  .col-mds-7{float:left;
    width: 30%;
    padding-right: 18px;
    padding-left: 20px;
    padding-top: 20px;
    font-size: 21px;
    text-align: justify;
  }
}

@media (min-width:992px){
  .col-mds-7{float:left;
    width: 30%;
    padding-right: 18px;
    padding-left: 20px;
    padding-top: 20px;
    font-size: 21px;
    text-align: justify;
  }
}

@media (max-width:991px){
  .col-mds-7{
    align: center;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 30px;
}
}



@media (min-width:992px){
  .col-mds-8{float:left;
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 10px;
    font-size: 36px;
    font-family: "BebasNeueBook";
    text-align: center;
    color: #F47C29;
  }
}

@media (max-width:991px){
  .col-mds-8{
    align: center;
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 0px;
    font-size: 32px;
    font-family: "BebasNeueBook";
    text-align: center;
    color: #F47C29;
}
}



@media (min-width:320px){
  .col-mds-9{float:left;
    width: 30%;
    align: center;
    padding-right: 0px;
    padding-left: 0px;
    margin-top: 30px;
    font-size: 14px;
    font-family: "GothamBook";
    font-weight: bold;
    text-align: center;
    color: #F47C29;
}
}

@media (min-width:480px){
  .col-mds-9{float:left;
    width: 30%;
    align: center;
    padding-right: 0px;
    padding-left: 0px;
    margin-top: 50px;
    font-size: 20px;
    font-family: "GothamBook";
    font-weight: bold;
    text-align: center;
    color: #F47C29;
}
}

@media (min-width:992px){
  .col-mds-9{float:left;
    width: 30%;
    padding-right: 0px;
    padding-left: 0px;
    margin-top: 150px;
    font-size: 26px;
    font-family: "GothamBook";
    font-weight: bold;
    text-align: center;
    color: #F47C29;
  }
}



@media (min-width:992px){
  .txt-srv-1{
    width: 100%;
    font-size: 34px;
    font-family: "BebasNeueBook";
    text-align: center;
    color: #E1E1E1;
    margin-bottom: -1px;
  }
}

@media (max-width:991px){
  .txt-srv-1{
    width: 100%;
    font-size: 32px;
    font-family: "BebasNeueBook";
    text-align: center;
    color: #E1E1E1;
    margin-bottom: -1px;
  }
}

@media (max-width:600px){
  .txt-srv-1{
    width: 100%;
    font-size: 28px;
    font-family: "BebasNeueBook";
    text-align: center;
    color: #E1E1E1;
    margin-bottom: -1px;
  }
}



@media (min-width:992px){
  .txt-srv-2{
    width: 100%;
    font-size: 32px;
    font-family: "MarketWeb W03 Regular";
    text-align: center;
    color: #F1F1F1;
    margin-bottom: -1px;
  }
}

@media (max-width:991px){
  .txt-srv-2{
    width: 100%;
    font-size: 29px;
    font-family: "MarketWeb W03 Regular";
    text-align: center;
    color: #F1F1F1;
    margin-bottom: -1px;
  }
}

@media (max-width:600px){
  .txt-srv-2{
    width: 100%;
    font-size: 26px;
    font-family: "MarketWeb W03 Regular";
    text-align: center;
    color: #F1F1F1;
    margin-bottom: -1px;
  }
}



/* PLAY */
@media (min-width:992px){
  .col-mds-ply{
    max-width: 80%;
    height: auto;
  }
}

@media (max-width:991px){
  .col-mds-ply{
    max-width: 80%;
    height: auto;
}
}

@media (min-width:992px){
  .col-mds-ply-txt{
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #2D1C1C;
  }
}

@media (max-width:991px){
  .col-mds-ply-txt{
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 0px;
    font-size: 16px;
    font-weight: bold;
    color: #2D1C1C;
}
}



/* CONTACTOS */
@media (min-width:992px){
  .col-mds-cnt{
    max-width: 20%;
    height: auto;
  }
}

@media (max-width:991px){
  .col-mds-cnt{
    max-width: 20%;
    height: auto;
}
}

@media (min-width:240px){
  .col-mds-cnt-txt{
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 0px;
    font-family: "GothamBook";
    font-size: 10px;
    font-weight: bold;
    color: #2D1C1C;
}
}

@media (min-width:320px){
  .col-mds-cnt-txt{
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 0px;
    font-family: "GothamBook";
    font-size: 14px;
    font-weight: bold;
    color: #2D1C1C;
}
}

@media (min-width:480px){
  .col-mds-cnt-txt{
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 0px;
    font-family: "GothamBook";
    font-size: 18px;
    font-weight: bold;
    color: #2D1C1C;
}
}

@media (min-width:992px){
  .col-mds-cnt-txt{
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 10px;
    font-family: "GothamBook";
    font-size: 18x;
    font-weight: bold;
    color: #2D1C1C;
  }
}

@media (min-width:1366px){
  .col-mds-cnt-txt{
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 10px;
    font-family: "GothamBook";
    font-size: 21px;
    font-weight: bold;
    color: #2D1C1C;
  }
}




@media (min-width:992px){
  .col-mds-cnt-ovf{
    overflow: hidden;
  }
}

@media (max-width:991px){
  .col-mds-cnt-ovf{
    overflow: hidden;
}
}



/* QUIENES SOMOS TEXTO */
@media (max-width:991px){
  .col-mds-qs{
    width: 100%;
    padding-top: 20px;
    font-size: 12px;
    text-align: center;
    line-height : 20px;
    font-family: "GothamBook";
  }
}

@media (min-width:992px){
  .col-mds-qs{
    width: 100%;
    padding-top: 0px;
    font-size: 16px;
    text-align: center;
    line-height : 20px;
    font-family: "GothamBook";
  }
}

@media (min-width:1366px){
  .col-mds-qs{
    width: 100%;
    padding-top: 3px;
    font-size: 18px;
    text-align: center;
    line-height : 20px;
    font-family: "GothamBook";
  }
}

@media (min-width:1920px){
  .col-mds-qs{
    width: 100%;
    padding-top: 12px;
    font-size: 26px;
    text-align: center;
    font-family: "GothamBook";
  }
}

/*--------------------*/

@media (max-width:991px){
  b{
    width: 100%;
    padding-top: 0px;
    font-size: 12px;
    text-align: center;
    font-family: "GothamBook";
    font-weight: bold;
    line-height : 20px;
    color: #FF5733;
  }
}

@media (min-width:992px){
  b{
    width: 100%;
    padding-top: 3px;
    font-size: 16px;
    text-align: center;
    font-family: "GothamBook";
    font-weight: bold;
    line-height : 20px;
    line-height : 20px;
    color: #FF5733;
  }
}

@media (min-width:1366px){
  b{
    width: 100%;
    padding-top: 3px;
    font-size: 18px;
    text-align: center;
    font-family: "GothamBook";
    font-weight: bold;
    line-height : 20px;
    color: #FF5733;
  }
}

@media (min-width:1920px){
  b{
    width: 100%;
    padding-top: 12px;
    font-size: 25px;
    text-align: center;
    font-family: "GothamBook";
    font-weight: bold;
    color: #FF5733;
  }
}

/*--------------------*/

@media (max-width:991px){
  .col-mds-qs-f{
    width: 100%;
    padding-top: 20px;
    font-size: 16px;
    text-align: center;
    font-family: "MarketWeb W03 Regular";
    font-weight: bold;
    line-height : 20px;
  }
}

@media (min-width:992px){
  .col-mds-qs-f{
    width: 100%;
    padding-top: 10px;
    font-size: 30px;
    text-align: center;
    font-family: "MarketWeb W03 Regular";
    font-weight: bold;
    line-height : 20px;
  }
}

@media (min-width:1366px){
  .col-mds-qs-f{
    width: 100%;
    padding-top: 10px;
    font-size: 30px;
    text-align: center;
    font-family: "MarketWeb W03 Regular";
    font-weight: bold;
    line-height : 20px;
  }
}

@media (min-width:1920px){
  .col-mds-qs-f{
    width: 100%;
    padding-top: 12px;
    font-size: 32px;
    text-align: center;
    font-family: "MarketWeb W03 Regular";
    font-weight: bold;
  }
}

/*--------------------*/

@media (max-width:991px){
.container-qs{
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
}

@media (min-width:992px){
.container-qs{
  width: 60%;
  padding-right: 30px;
  padding-left: 30px;
  margin-right: auto;
  margin-left: auto;
}
}

@media (min-width:1366px){
.container-qs{
  width: 60%;
  padding-right: 30px;
  padding-left: 30px;
  margin-right: auto;
  margin-left: auto;
}
}

@media (min-width:1920px){
.container-qs{
  width: 60%;
  padding-right: 30px;
  padding-left: 30px;
  margin-right: auto;
  margin-left: auto;
}
}


@media (min-width:240px){
.div-margin{
   margin-top: -30px;
}
}

@media (min-width:320px){
.div-margin{
   margin-top: -25px;
}
}

@media (min-width:600px){
.div-margin{
   margin-top: -5px;
}
}

@media (min-width:992px){
.div-margin{
   margin-top: 25px;
}
}

@media (min-width:1200px){
.div-margin{
   margin-top: 10px;
}
}

@media (min-width:1366px){
.div-margin{
   margin-top: 5px;
}
}

@media (min-width:1920px){
.div-margin{
   margin-top: 50px;
}
}




@media (min-width:240px){
.but-responsive{
  display: block;
  max-width: 0px;
  height: auto;
}
}

@media (min-width:320px){
.but-responsive{
  display: block;
  max-width: 0px;
  height: auto;
}
}

@media (min-width:992px){
.but-responsive{
  display: block;
  max-width: 10rem;
  height: auto;
}
}

@media (min-width:1366px){
.but-responsive{
  display: block;
  max-width: 13rem;
  height: auto;
}
}

@media (min-width:1920px){
.but-responsive{
  display: block;
  max-width: 16rem;
  height: auto;
}
}


.footer-color{
  color: #F1F1F1;
}

.footer-align{
  font-size: 14px;
  text-align: justify;
  line-height : 25px;
}

.iframe-maps{
  padding-top: 20px;
  width: 100%;
  height: 250px;
}

  .img-responsive1{
    display: block;
    max-width: 100%;
    height: auto;
}

.video-responsive1{
  display: block;
  max-width: 100%;
  height: auto;
}

.centered {
  position: flex; /* or absolute */
  justify-content: center;
  align-items: center;
  top: 45%;
  left: 45%;
  transform: translate( -50%, -50%);
}


.preloader-chess{
  max-width: 180px;
  max-height: 180px
}


.ul-wdt{float: left;
  width: 100%;
}

.ul-wdts{
  width: 100%;
}

.gradient-qs{
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,0.4542191876750701) 0%, rgba(0,0,0,0.23012955182072825) 34%, rgba(0,0,0,0) 66%, rgba(0,0,0,0) 100%);
}


.div-img-qs{
  max-width: 80%;
  display:block;
  margin-left: auto;
  margin-right: auto;
}
