
.background {
  background-image: url('img/background-black.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 100% auto;
}
}
@media only screen and (max-width: 1366px) {
  .resolution-background {
    background-image: url('img/background-black.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 100% auto;
}
}



@media only screen and (max-width: 1366px) {
  .resolution-menu {
		margin-top: 322px;
		margin-left: 1192px;
		width:125px;
		height: 125px;
		position: absolute;
}
}



@media only screen and (min-width: 1200px) {
  .resolution-logo {
		margin-top: -120px;
		margin-left: 430px;
		width: 530px;
		height: 530px;
		position: absolute;
}
}

@media only screen and (max-width: 1199px) {
  .resolution-logo {
		margin-top: -560px;
		margin-left: 45px;
    padding-right: 90px;
    max-width: 100%;
    height: auto;
		position: absolute;
}
}




/* boton a */
@media only screen and (max-width: 1366px) {
  .resolution-buttona {
		margin-top: 350px;
		margin-left: 587px;
		width:124px;
		height: 124px;
		position: absolute;
}
}
	@media only screen and (max-width: 136px) {
  .resolution-buttona {
			margin-top: -18px;
			margin-left: -1321px;
			width:170px;
			height: 170px;
			position: absolute;
}
}
@media only screen and (max-width: 128px) {
  .resolution-buttona {
		margin-top: -22px;
		margin-left: -1247px;
		width:165px;
		height: 165px;
		position: absolute;
  }
}


@media only screen and (max-width: 500px) {
  .resolution-buttona {
		margin-top: -380px;
		margin-left: 48px;
		width: 70px;
		height: 70px;
		position: absolute;
  }
}


@media only screen and (max-width: 480px) {
  .resolution-buttona {
		margin-top: -380px;
		margin-left: 48px;
		width:50px;
		height: 50px;
		position: absolute;
  }
}



/* boton b */
@media only screen and (max-width: 1366px) {
  .resolution-buttonb {
    margin-top: 350px;
		margin-left: 760px;
		width:124px;
		height: 124px;
    position: absolute;
  }
}


@media only screen and (max-width: 480px) {
  .resolution-buttonb {
		margin-top: -380px;
		margin-left: 95px;
		width:50px;
		height: 50px;
		position: absolute;
  }
}



/* boton c */
@media only screen and (max-width: 1366px) {
  .resolution-buttonc {
    margin-top: 350px;
		margin-left: 942px;
		width:124px;
		height: 124px;
		position: absolute;
  }
}


@media only screen and (max-width: 480px) {
  .resolution-buttonc {
		margin-top: -380px;
		margin-left: 142px;
		width:50px;
		height: 50px;
		position: absolute;
  }
}



/* boton d */
@media only screen and (max-width: 1366px) {
  .resolution-buttond {
    margin-top: 350px;
		margin-left: 1116px;
		width:124px;
		height: 124px;
		position: absolute;
  }
}


@media only screen and (max-width: 480px) {
  .resolution-buttond {
		margin-top: -380px;
		margin-left: 189px;
		width:50px;
		height: 50px;
		position: absolute;
  }
}



/* boton e */
@media only screen and (max-width: 1366px) {
  .resolution-buttone {
		margin-top: 405px;
		margin-left: 120px;
    width: 365px;
    height: 365px;
		position: absolute;
  }
}


@media only screen and (max-width: 480px) {
  .resolution-buttone {
		margin-top: -270px;
		margin-left: 42px;
		width:200px;
		height: 200px;
		position: absolute;
  }
}



/* boton f */
@media only screen and (max-width: 1366px) {
  .resolution-buttonf {
    margin-top: 490px;
		margin-left: 120px;
		width: 360px;
		height: 360px;
		position: absolute;
  }
}


@media only screen and (max-width: 480px) {
  .resolution-buttonf {
		margin-top: -225px;
		margin-left: 45px;
		width: 195px;
		height: 195px;
		position: absolute;
  }
}




@media only screen and (max-width: 1366px) {
  .resolution-buttong {
		margin-top: 443px;
		margin-left: -1262px;
		width: 170px;
		height: 170px;
  }
}



@media only screen and (max-width: 1366px) {
  .resolution-div-tittle {
    margin-top: -100px;
		width: 100%;
		height: inherit;
    position: absolute;
  }
}


.centered {
  position: flex; /* or absolute */
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50%);
}


.preloader-chess{
  max-width: 150px;
  max-height: 150px
}
